.idea/
*.iml
target/
Icon\r
Icon^M
Icon?
Contexts-170503
Contexts-170503 Kopie
Events-170301-2
bin/
.project
output/
Contexts-170503.zip
Contexts-170503 2.zip
contexts.tar.gz
ngram-recommendation-system-1.0-SNAPSHOT-jar-with-dependencies.jar
.snippets.sh
deploy.sh