<?xml version="1.0" encoding="UTF-8"?><dictionary case_sensitive="false">
<entry count="2">
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="6920">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="204">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Trace</token>
</entry>
<entry count="256">
<token>NLog.LogManager,GetLogger</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="16">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="16">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Warn</token>
</entry>
<entry count="1">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Error</token>
</entry>
<entry count="18">
<token>NLog.Logger,Error</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="52479">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="16">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Error</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="1">
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Error</token>
</entry>
<entry count="16">
<token>NLog.Logger,Error</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="110">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="1">
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="16">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="8">
<token>NLog.LogManager,GetCurrentClassLogger</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,ErrorException</token>
</entry>
<entry count="12">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="1">
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Warn</token>
</entry>
<entry count="4">
<token>NLog.LogEventInfo,new</token>
<token>NLog.Logger,Log</token>
</entry>
<entry count="1">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="2">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Error</token>
</entry>
<entry count="2">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="40">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Trace</token>
</entry>
<entry count="1">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Warn</token>
</entry>
<entry count="2">
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="6">
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Warn</token>
</entry>
<entry count="16">
<token>NLog.Logger,Error</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="2">
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="64">
<token>NLog.LogFactory,new</token>
<token>NLog.LogFactory,GetLogger</token>
</entry>
<entry count="1">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="6">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="8">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,ErrorException</token>
</entry>
<entry count="7">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Warn</token>
</entry>
<entry count="1">
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="1">
<token>NLog.Logger,Error</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="8">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="2">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Warn</token>
</entry>
<entry count="16">
<token>NLog.Logger,Error</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="1996">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="4">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Error</token>
</entry>
<entry count="40">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="1">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Fatal</token>
</entry>
<entry count="5">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="2">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Fatal</token>
</entry>
<entry count="9">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="2">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Error</token>
</entry>
<entry count="1">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="1">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Warn</token>
</entry>
<entry count="48">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="260">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Error</token>
</entry>
<entry count="2">
<token>NLog.LogLevel,FromString</token>
<token>NLog.LogManager,ReconfigExistingLoggers</token>
</entry>
<entry count="5">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Fatal</token>
</entry>
<entry count="10">
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="7">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="5">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="4">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Trace</token>
</entry>
<entry count="1">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="2601">
<token>NLog.Logger,Error</token>
<token>NLog.Logger,Error</token>
</entry>
<entry count="1">
<token>NLog.Logger,Error</token>
<token>NLog.Logger,Fatal</token>
</entry>
<entry count="1545">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
</entry>
<entry count="117">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Trace</token>
</entry>
<entry count="2">
<token>NLog.LogLevel,FromString</token>
<token>NLog.Logger,IsEnabled</token>
</entry>
<entry count="33">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="5">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Trace</token>
</entry>
<entry count="16">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Error</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="160">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="1">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Error</token>
</entry>
<entry count="20">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Trace</token>
</entry>
<entry count="1260">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="55">
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Warn</token>
</entry>
<entry count="160">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="8">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="289">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Error</token>
</entry>
<entry count="10">
<token>NLog.LogManager,GetCurrentClassLogger</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="20">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Trace</token>
</entry>
<entry count="9">
<token>NLog.LogManager,GetLogger</token>
<token>NLog.Logger,Log</token>
</entry>
<entry count="8">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Error</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="8093">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="3">
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Fatal</token>
</entry>
<entry count="8">
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="1">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Fatal</token>
</entry>
<entry count="16">
<token>NLog.Logger,Error</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="1">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Error</token>
</entry>
<entry count="256">
<token>NLog.LogManager,GetLogger</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Error</token>
</entry>
<entry count="2">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="64">
<token>NLog.LogLevel,FromOrdinal</token>
<token>NLog.LogFactory,new</token>
</entry>
<entry count="6">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
</entry>
<entry count="2">
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Error</token>
</entry>
<entry count="73">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="1">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Error</token>
<token>NLog.Logger,Fatal</token>
</entry>
<entry count="1">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="92">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="140">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="7486">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="152">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="16">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Error</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="4">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
</entry>
<entry count="4">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Warn</token>
</entry>
<entry count="1">
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Warn</token>
</entry>
<entry count="357">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
</entry>
<entry count="1">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="180">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="8">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="8">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="32">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
</entry>
<entry count="4">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
</entry>
<entry count="1">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="2">
<token>NLog.LogLevel,FromString</token>
<token>NLog.Logger,Log</token>
</entry>
<entry count="8">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Error</token>
</entry>
<entry count="22">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
</entry>
<entry count="518">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="8">
<token>NLog.LogManager,GetCurrentClassLogger</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,ErrorException</token>
<token>NLog.Logger,ErrorException</token>
</entry>
<entry count="8769">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="152">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="256">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="8">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Error</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="4">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Error</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="1040">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="2">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="18">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="1">
<token>NLog.Logger,Warn</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="8">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="18">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
<token>NLog.Logger,Info</token>
</entry>
<entry count="256">
<token>NLog.LogManager,GetLogger</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="2">
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Warn</token>
</entry>
<entry count="8">
<token>NLog.Logger,Info</token>
<token>NLog.Logger,ErrorException</token>
<token>NLog.Logger,ErrorException</token>
</entry>
<entry count="4">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Trace</token>
</entry>
<entry count="64">
<token>NLog.LogLevel,FromOrdinal</token>
<token>NLog.LogFactory,new</token>
<token>NLog.LogFactory,GetLogger</token>
</entry>
<entry count="12">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Error</token>
<token>NLog.Logger,Debug</token>
</entry>
<entry count="7">
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Debug</token>
<token>NLog.Logger,Trace</token>
<token>NLog.Logger,Trace</token>
</entry>
<entry count="8">
<token>NLog.Logger,ErrorException</token>
<token>NLog.Logger,ErrorException</token>
</entry>
</dictionary>
