<?xml version="1.0" encoding="UTF-8"?><dictionary case_sensitive="false">
<entry count="12">
<token>Spring.Context.Support.XmlApplicationContext,new</token>
<token>Spring.Context.Support.AbstractApplicationContext,GetObjectsOfType</token>
</entry>
<entry count="4">
<token>Spring.Context.Support.GenericApplicationContext,new</token>
<token>Spring.Context.Support.AbstractApplicationContext,RegisterObjectDefinition</token>
</entry>
<entry count="8">
<token>Spring.Context.Support.AbstractApplicationContext,GetObject</token>
<token>Spring.Context.Support.AbstractApplicationContext,GetObject</token>
</entry>
<entry count="2">
<token>Spring.Context.Support.GenericApplicationContext,new</token>
<token>Spring.Context.Support.AbstractApplicationContext,RegisterObjectDefinition</token>
<token>Spring.Context.Support.AbstractApplicationContext,RegisterObjectDefinition</token>
<token>Spring.Context.Support.AbstractApplicationContext,RegisterObjectDefinition</token>
</entry>
<entry count="2">
<token>Spring.Context.Support.AbstractApplicationContext,RegisterObjectDefinition</token>
<token>Spring.Context.Support.AbstractApplicationContext,RegisterObjectDefinition</token>
<token>Spring.Context.Support.AbstractApplicationContext,GetObject</token>
</entry>
<entry count="2">
<token>Spring.Context.Support.AbstractApplicationContext,RegisterObjectDefinition</token>
<token>Spring.Context.Support.AbstractApplicationContext,RegisterObjectDefinition</token>
<token>Spring.Context.Support.AbstractApplicationContext,RegisterObjectDefinition</token>
<token>Spring.Context.Support.AbstractApplicationContext,GetObject</token>
</entry>
<entry count="2">
<token>Spring.Context.Support.AbstractApplicationContext,GetObjectsOfType</token>
<token>Spring.Context.Support.AbstractApplicationContext,GetObjectsOfType</token>
</entry>
<entry count="2">
<token>Spring.Context.Support.GenericApplicationContext,new</token>
<token>Spring.Context.Support.AbstractApplicationContext,RegisterObjectDefinition</token>
<token>Spring.Context.Support.AbstractApplicationContext,GetObject</token>
</entry>
<entry count="4">
<token>Spring.Context.Support.AbstractApplicationContext,RegisterObjectDefinition</token>
<token>Spring.Context.Support.AbstractApplicationContext,RegisterObjectDefinition</token>
</entry>
<entry count="4">
<token>Spring.Context.Support.AbstractApplicationContext,RegisterObjectDefinition</token>
<token>Spring.Context.Support.AbstractApplicationContext,GetObject</token>
</entry>
<entry count="2">
<token>Spring.Context.Support.AbstractApplicationContext,RegisterObjectDefinition</token>
<token>Spring.Context.Support.AbstractApplicationContext,RegisterObjectDefinition</token>
<token>Spring.Context.Support.AbstractApplicationContext,RegisterObjectDefinition</token>
</entry>
<entry count="2">
<token>Spring.Context.Support.XmlApplicationContext,new</token>
<token>Spring.Context.Support.AbstractApplicationContext,GetObjectsOfType</token>
<token>Spring.Context.Support.AbstractApplicationContext,GetObjectsOfType</token>
</entry>
<entry count="8">
<token>Spring.Context.Support.XmlApplicationContext,new</token>
<token>Spring.Context.Support.AbstractApplicationContext,GetObject</token>
<token>Spring.Context.Support.AbstractApplicationContext,GetObject</token>
</entry>
<entry count="2">
<token>Spring.Context.Support.GenericApplicationContext,new</token>
<token>Spring.Context.Support.AbstractApplicationContext,RegisterObjectDefinition</token>
<token>Spring.Context.Support.AbstractApplicationContext,RegisterObjectDefinition</token>
</entry>
<entry count="62">
<token>Spring.Context.Support.XmlApplicationContext,new</token>
<token>Spring.Context.Support.AbstractApplicationContext,GetObject</token>
</entry>
<entry count="2">
<token>Spring.Context.Support.GenericApplicationContext,new</token>
<token>Spring.Context.Support.AbstractApplicationContext,RegisterObjectDefinition</token>
<token>Spring.Context.Support.AbstractApplicationContext,RegisterObjectDefinition</token>
<token>Spring.Context.Support.AbstractApplicationContext,RegisterObjectDefinition</token>
<token>Spring.Context.Support.AbstractApplicationContext,GetObject</token>
</entry>
</dictionary>
