<?xml version="1.0" encoding="UTF-8"?><dictionary case_sensitive="false">
<entry count="4">
<token>Spring.Objects.Factory.Support.RootObjectDefinition,new</token>
<token>Spring.Objects.Factory.Support.RootObjectDefinition,new</token>
</entry>
<entry count="2">
<token>Spring.Objects.Factory.Support.RootObjectDefinition,new</token>
<token>Spring.Objects.Factory.Support.RootObjectDefinition,new</token>
<token>Spring.Objects.Factory.Support.RootObjectDefinition,new</token>
</entry>
</dictionary>
